extends layout

block content
  - if (user.new_user == true)
    div.spacing-wrapper
      div.intro
        div.hi-user
           p Hi #{user.first_name}!
        div.first-timer
          p We see that it's your first time here, let's get you started!
          div.new-og
            a('href=/new_overall_goal') Create a new goal!
  - else
    p Welcome back #{user.first_name}!
    p Here are your overall goals - click to see how you're doing!
    - for (i= 0 ; i < 1; i++)
      p #{og_array[i].description}
      // only going to do the first month
      - for (j = 0; j < 1; j++)
        p #{mg_array[j].description}
        // only going to do the first week
        - for (k = 0; k < wg_array.length; k++)
          p #{wg_array[k].description}


